#form {
    background-color: #1d213bdf;
    color: white;
    margin: 75px;
    padding: 75px;
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    h2 {
        font-size: 35px;
    }
    hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 15px;
    }
}
